@charset "utf-8";
/********************** 초기세팅 **********************/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #f2f3f5;
}
html{
    font-size: 16px;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none
}

/* *********************** */
header{
  display: flex;
  padding: 1% 10%;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.logo{
  font-size: 30px;
  font-weight: bold;
}
nav{
  display: flex;
}
nav a{
  margin: 0 10px;
  color: #000;
}
.pg1{
  width: 100vw;
  outline: 1px solid;
  background-image: url(../애플로고회색.png);
  background-size: 100px 100px;
  background-position: center;
}
.pg1_wrap{
  padding: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.my_pic img{
  width: 300px;
  height: 300px;
}
strong{
  font-size: 30px;
  text-shadow: 0 0 3px #ccc;
}

.pg2_wrap{
  display: flex;
  padding: 0 10%;
  margin-top: 100px;
  flex-wrap: wrap;
}
.port_wrap{
  width: 25%;
  margin: 0 auto;
  margin-bottom: 100px;
  
}
.portbx{
  width: 100%;
}
.portbx img{
  width: 100%;
}