@charset "utf-8";
/* apple css */

/* 외부 CSS 합치기 */
@import url(./common.css);
@import url(./core.css);
/* 공통 css */

body *{
  /* outline: 1px dashed #1d1d1f; */
}
:root {
  --icon_size: 84px;
  --vd_size: 70vw
}

/****************************** 뮤직공통 ******************************/
/* 뮤직페이지 배경 흰색 주기 */
html, body{
  margin: 0;
  padding: 0;
  background-color: #f5f5f7;
  color: #000;
}
h2,h3,h3{
  color: #000;
}
.top{
  background-color: #f5f5f7;
}
.top.on {
  height: 180px;
  border-bottom: 1px solid #000;
}
.header{
  background-color: #f5f5f7;
}
.gnb a{
  color: #000;
}
form{
  background-color: #f5f5f7;
  border-color: #f5f5f7;
}
form:hover .search_imgbx {
  display: none;
}
.bag_comment h2, .bag_comment h3{
  color: #333336;
}

.mw{
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 22px;
}

.cont{
  height: 2000px;
}
.sub_music{
  padding-top: 44px;
}
.search_icon{
  fill: #000;
}
.sbar{
  color: #000;
  border: none;
}
/****************************** title ******************************/
.subTitle{
  display: flex;
  justify-content: space-between;
  height: 52px;
  align-items: center;
}
.title a{
  color: #000;
  font-size: 21px;
  text-decoration: none;

}
.tryBtn a{
  color: #fff;
  font-size: 12px;
  text-decoration: none;

  background-color: #fa243c;
  border-radius: 18px;
  
  width: 122px;
  height: 24px;
  padding: 4px 11px;
}
.dscBar{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;

  background-color: #fa243c;
  transition: .4s;
  padding: 0 10px;
}
.dscBar h2{
  color: #1d1d1f;
  font-weight: normal;
  font-size: 14px;
}
.dscBar span{
  color: #0066cc;
  font-size: 14px;
  white-space: nowrap;
}
/****************************** pg1 ******************************/
.pg1cont{
  padding-top: 80px;
}
.music_icon{
  position: relative;
  overflow: hidden;
  width: 80%;
  height: 40%;
  /* width: var(--icon_size);
  height: var(--icon_size); */
  border-radius: 18px;
  margin: 0 auto;
  background: url(../image/sub_music/music_icon.png) no-repeat center/cover;

  transition: 1s;
  transition-delay: 2s;
}
/* .music_icon.on img{
  top: 50%;
  left: 50%;
  width: 115vw;
  transform: translate(-50%, -30%);
  z-index: 999;
} */
.music_icon img{
  transition: width .8s;
  margin: 0 auto;
  position: absolute;
  top: -27px;
  left: -90px;
  width: 265px;
  transition-delay: 2s;
}

.am{
  display: flex;
  justify-content: center;
}
.am h2{
  color: #000;
  font-weight: normal;
  font-size: 18px;
}
.music_copy{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.music_copy h2{
  font-size: 80px;
}
.try_c{
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.try_c a{
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  background-color: #fa243c;
  border-radius: 980px;

  width: 200px;
  height: 56px;
  padding: 18px 31px;
}

.wraper{
  display: flex;
  text-align: center;
  margin: 0 auto;
  justify-content: center ;
  overflow: hidden;
}
/* music_device */
.music_device{
  display: flex;
  /* justify-content: center; */
  /* margin: 0 auto; */
  margin-top: 80px;
  /* width: 100vw; */
  /* overflow: hidden; */
}
.lockUp{
  width: 17%;
  margin-right: 20px;
  margin-left: 20px;

  /* 효과위함 */
  margin-top: 60px;
}

/* 짝수번째 기기들만 마진탑 0 -> 효과*/
.dv2, .dv4{
  margin-top: 0;
}

.frame_p{
  position: relative;
  overflow: hidden;
  margin-right: -200px;
  margin-left: -2px;
}

.screen_p img{
  position: absolute;
  top: 14px;
  left: 14px;
  border-radius: 40px;
  z-index: 1;
  width: 262px;
  height: 566px;
}


.screen_vd{
  position: absolute;
  top: 13px;
  left: 16px;
  border-radius: 40px;
  z-index: 1;
}

/****************************** pg2 ******************************/

.pg2cont{
  position: relative;
  height: 300vh;
}
.vdbx{
  position: sticky;
  top: -166px;
  /* 글씨리스트 부모자격 */
  margin: 0 auto;

  overflow: hidden;

  display: flex;
  justify-content: center;
}
.mvd{
  width: 100%;
  display: flex;
  justify-content: center;
}
.copybx{
  position: absolute;
  top: 35vh;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  width: var(--vd_size);
  height: 80%;
  padding: 0 10px;
}
.mcp{
  margin: 0 auto;
  font-size: 64px;
  margin-bottom: 120px;
  color: #f5f5f7;
  white-space: nowrap;
}



/****************************** pg3 ******************************/

.sec_cont{
  height: 800px;
}
.offer{
  padding-top: 200px;
  display: flex;
  width: 100%;
  height: 260px;
  gap: 70px;
}
.offer_item{
  flex: 1;
  padding: 0 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.offer_item h2{
  font-size: 28px;
  font-weight: normal;
}
.offer_item h3{
  font-size: 40px;
}
.offer_item_copy{
  font-size: 17px;
  color: #6e6e73;
}
.offer_item a{
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  display: flex;
  justify-content: center;

  background-color: #fa243c;
  border-radius: 980px;
  margin-top: 32px;
  padding: 12px 22px;
  width: 80%;
}

/****************************** footer ******************************/
.footer{
  background-color: #f5f5f7;
}
.info_title h2{
  color: #86868b;
}