@charset "utf-8";
/* apple css */

/* 외부 CSS 합치기 */
@import url(./common.css);
@import url(./core.css);
/* 공통 css */

/* 수정을 위해 임시로 주었음 */
body *{
  /* outline: 1px dashed #fff; */
}
/****************************** 메인공통 ******************************/
.mw{
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 22px;
}

/*************************** 1페이지 ***************************/
.sub_1pg{
  padding-top: 44px;
  height: 2000px;

  position: relative;
  /* evt_banner 부모자격 */
}
.pg1_title{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 52px 22px;
}
.tit h4{
  font-size: 17px;
  line-height: 1.4;
  color: #f56300;
  margin-top: 3px;
}
.tit h2{
  font-size: 48px;
  padding-bottom: 8px;
}
.tit h3{
  font-size: 14px;
  padding-top: 12px;
}


.tit_sub{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;

  margin-top: 4px;
  font-size: 12px;
  font-style: normal;
}
/* 타이틀 왼쪽 공통 */
.tsub{
  display: flex;
  
}
.tsub>a{
  display: flex;
  text-decoration: none;
  color: #1d1d1f;
  line-height: 1.34;
  padding: 12px 16px;
  margin: 6px 0;
  white-space: nowrap;

  width: 250px;
  height: 40px;
  background-color: #f5f5f7;
  border-radius: 20px; 
}

/* 1페이지 이벤트 베너 */
.evt_banner{
  position: absolute;
  height: 44px;
  width: 100%;
  background-color: #fff;
  top: 100%;
  left: 0;
}

.wrap_1pg{
  display: flex;
  width: 100%;
  height: 86.2%;
  margin-top: 44px;
  padding-top: 30px;
}
.sub_sticky{
  flex-basis: 65%;
  position: relative;
  padding: 10px 10px 10px 0;
}
.sticky_imgbx{
  position: sticky;
  top: 20vh;
  margin: 0 auto;
  overflow: hidden;

  border-radius: 20px;
  width: 627px;
  height: 627px;
  background-color: #f5f5f7;
}

.imgbx{
  position: relative;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 auto;
}
.imgbx ul{
  display: flex;
  position: relative;
  left: 0%;
  width: 300%;
  height: 100%;
  overflow: hidden;
  transition: .4s ease-in-out;
}
.imgbx li{
  position: relative;
  flex-basis: 100%;
  /* opacity: 0; */
  transition: opacity .6s ease-in-out;
}
.imgbx li img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}




.buy_option{
  flex-basis: 35%;
  padding-left: 10px;
  padding-top: 7%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.model{
  flex-basis: 30%;
}
.finish_color{
  flex-basis: 20%;

  /* 클릭 전 덜보이기 */
  filter: brightness(0.5);
}
.storage{
  flex-basis: 35%;
  
  /* 클릭 전 덜보이기 */
  filter: brightness(0.5);
}
.option_copy{
  display: flex;
  justify-content: space-around;
}
.option span{
  display: block;
  font-size: 24px;
  font-weight: normal;
}
.option h2{
  display: block;
  font-size: 24px;
  font-weight: normal;

  white-space: nowrap;
  color: #cecece;
}
.brick{
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  margin: 0 auto;
  width: 100%;
  height: 100px;
  margin-top: 20px;
  padding: 14px;
  border-radius: 20px;
  background-color: #f5f5f7;

  cursor: pointer;
}
.brick1.on{
  border: 2px solid #0071e3;
}
.brick2.on{
  border: 2px solid #0071e3;
}

.brick_left{
  flex-basis: 60%;
  /* 세로중앙정렬 */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.brick_title a{
  font-size: 17px;
  color: #1d1d1f;
  text-decoration: none;
}
.brick_dsc a{
  display: block;
  font-size: 12px;
  color: #1d1d1f;
  margin-top: 4px;
  text-decoration: none;
}
.brick_right{
  flex-basis: 40%;
  /* 세로중앙정렬 */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.brick_right span{
  font-size: 12px;
  color: #1d1d1f;
}
.palate_copy{
  margin-top: 30px;
}
.palate_copy h2{
  color: #fff;
}
.palate{
  width: 100%;
  height: 26px;
  margin-top: 30px;

  display: flex;
}
.palate>img{
  border-radius: 50%;
  height: 100%;
  border: none;
  margin-right: 10px;
}


.option:nth-child(3) h2{
  white-space: initial;
}
.brick2 a{
  line-height: 72px;
}


.padbtn {
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 50%);
}
.padbtn ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 0 10px;
  /* margin: 30px 0; */
}
.gbtn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 25px;
  background-color: rgba(210,210,215,.64);
  color: rgba(0,0,0,.56);
  cursor: pointer;
  border: none;
}

/*************************** 2페이지 ***************************/
.sub_2pg{
  height: 2000px;
}

/*************************** 6페이지 ***************************/
.pg6_bx{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.set6{
display: flex;
justify-content: center;
gap: 2vw;

height: 1500px;
margin: 0 auto;
}

.pg6 {
height: 2000px;
background: #111111;
width: 100vw;

/* 서브페이지에서만 */
margin-top: 44px;
}
.pg6 h2 {
font-size: 4.6rem;
text-align: center;
color: #cecece;
font-weight: 600;
line-height: 160px;
white-space: nowrap;
}
.pg6_img {
display: flex;
justify-content: space-evenly;
margin-top: 100px;
}

.con_img {
margin: 0 auto;
margin-bottom: 22px;
height: 27%;
overflow: hidden;
}
.con_img img{
  transform: translateY(-120%);
  opacity: 0;
}
.con_img.on img{
  opacity: 1;
  transform: translateY(0%);
}
/* 각각 따로 주기 */
.pro_img img{
  transition: .4s ease-out;
}
.norm_img img{
  transition: .6s ease-out;
  transition-delay: .2s;
}
.norm13_img img{
  transition: .8s ease-out;
  transition-delay: .4s;
}
.se_img img{
  transition: 1s ease-out;
  transition-delay: .6s;
}

.swatch {
margin: 0 auto;
}
.c_14pro{
position: relative;
/* 가상요소 부모자격 */
}
.c_14pro::before{
content: 'New';
position: absolute;
top: 33px;
left: 20px;

color: #f56300;
font-size: 12px;
}
.c_14{
position: relative;
/* 가상요소 부모자격 */
}
.c_14::before{
content: 'New';
position: absolute;
top: 33px;
left: 30px;

color: #f56300;
font-size: 12px;
}
.swatch img{
height: 14px;
}
.logo_c{
margin: 0 auto;
}
.logo_c img{
/* 가운데정렬 */
display: block;
margin: 0 auto;
margin-top: 30px;
height: 20px;
margin-bottom: 4px;
}
.device_d{
margin-top: 7px;
}
.logo_c h3{
font-size: 17px;
color: #cecece;
font-weight: 400;
white-space: nowrap;
}

.p_info{
margin: 0 auto;
margin-top: 30px;
padding-bottom: 30px;
border-bottom: 1px solid #cecece;
}
.price{
margin: 0 0 10px 10px;
}
.price h3{
font-size: 14px;
color: #cecece;
font-weight: normal;
}
.bbtn{
padding: 0 21px;
}
.lm{
margin-top: 10px;
}
.lm a{
text-decoration: none;
}
.lm h3{
color: #2997ff;
font-size: 14px;
}

.detail_info{
  /* outline: 1px dashed #fff; */
  width: 100%;
  height: 100%;
  padding: 10%;

  display: flex;
  flex-direction: column;
}
.detail_info img{
  width: 38px;
  height: 38px;
}

.row{
  /* outline: 1px dashed blue; */
  width: 100%;
  height: 15%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}
.row img{
  margin: 10px 0;
}
.row h3{
  font-size: 14px;
  font-weight: normal;
  line-height: 1.7;
  white-space: nowrap;
}


.row_dynamic img{
  margin: 10px 0;
}
.row_battary img{
  width: 43px;
  height: 22px;
}