@charset "utf-8";

/* apple css */

/* 전체 초기화 */
* {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
.page,
ul,
ol,
li,
header {
  margin: 0;
  padding: 0;
  /* outline: 1px dotted yellow; */
  color: #fff;
}
html {
  font-size: 10px;
  overflow-x: hidden;
  background-color: #000;
}
body * {
  outline: 1px solid red;
}

:root {
  --bg_c: #1a1a1c;
  --logo_size: 14px;
}

/*********************** header부분 ***********************/
/*********************** header공통 ***********************/
.top {
  width: 100vw;
  height: 44px;
  position: fixed;
  background: var(--bg_c);
}
.header {
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  background: var(--bg_c);
  /* #121212; */
  height: 44px;
  max-width: 1024px;
  margin: 0 auto;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
/******************** header left ********************/
.header_left {
  position: relative;
  width: 25vw;
}
.logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}

/******************** header main ********************/
.header_main {
  width: 50vw;
}
.gnb {
  margin-top: 13px;
  height: 0;
}
.gnb ul {
  display: flex;
  justify-content: space-around;
}
.gnb ul li {
  font-size: 1.7rem;
  list-style: none;
}
.gnb ul li:hover .sub_menu
        /* .gnb ul li:hover .gnb */ {
  background-color: var(--bg_c);
  display: block;
  /* height: 106px; */
}

.gnb a {
  text-decoration: none;
  color: #fff;
}
#buy_btn {
  background-color: #0071e3;
  border-radius: 10px;
  width: 45px;
  height: 24px;
}

/****************** 서브메뉴 ******************/
.sub_menu {
  padding: 0;
  position: relative;
  z-index: 1;
  display: none;
}
.sub_menu ol {
  list-style: none;
  background-color: var(--bg_c);
  margin-top: 14px;
}

/******************** header right ********************/
.header_right {
  width: 25vw;
}
.icon {
  display: flex;
  justify-content: space-evenly;
  height: 44px;
}
.search {
  height: 30px;
  overflow: hidden;
}
.bag a img {
  height: 43px;
}

/****************************** 1페이지 ******************************/
.pg1 video {
  margin-top: 44px;
  width: 100%;
  z-index: 1;
}

/****************************** 2페이지 ******************************/
.pg2 {
  position: relative;
  z-index: -1;
}
.pg2 img {
  width: 100%;
  overflow: hidden;
}

.copy2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.pg2 h1 {
  font-weight: bold;
  font-size: max(148px, 72px);
  color: #000;
}
.pg2 h2 {
  font-size: 24px;
  color: #000;
}
.pg2 h3 {
  font-size: 19px;
  color: #000;
}

/*************************** 3페이지 ***************************/
.pg3 {
  display: flex;
  gap: 120px;

  /* 아랫공간 임시로 줌 */
  margin-bottom: 100px;
}
.pg3 .copy {
  margin-left: 149px;
}
.pg3 h2 {
  font-size: 6.4vw;
  color: #cecece;
}
.pg3 h3 {
  font-size: 2.4vw;
  color: #cecece;
}

/*************************** 4페이지  ***************************/
.copy4 {
  margin-top: 10vh;
}
.color_img{
    text-align: center;
}
.copy4 h2 {
  font-size: 5vw;
}
.copy4 h2:nth-child(2) {
  font-size: 4vw;
}
/*************************** 5페이지 ***************************/
.pg5 img {
  text-align: center;
  width: 100vw;
}
.copy5 h2 {
  font-size: 5vw;
}
.copy5 h3 {
  font-size: 3vw;
}
.copy5 {
  display: flex;
  justify-content: space-around;
  margin: 10vh 0;
}
/*************************** 6페이지 ***************************/
.pg6 {
  height: 1000px;
}
.pg6 h2 {
  font-size: 4.8rem;
  text-align: center;
}
.pg6_img {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}
