@charset "utf-8";
/* apple css */

/* 외부 CSS 합치기 */
@import url(./common.css);
@import url(./core.css);
/* 공통 css */


/****************************** 메인공통 ******************************/
.mw{
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 22px;
}

/*************************** 1페이지 ***************************/
.sub_1pg{
  padding-top: 44px;
  height: 2000px;
}
.pg1_title{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 52px 22px;
}
.tit h4{
  font-size: 17px;
  line-height: 1.4;
  color: #bf4800;
  margin-top: 3px;
}
.tit h2{
  font-size: 48px;
  padding-bottom: 8px;
}
.tit h3{
  font-size: 14px;
  padding-top: 12px;
}


.tit_sub{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;

  margin-top: 4px;
  font-size: 12px;
  font-style: normal;
}
/* 타이틀 왼쪽 공통 */
.tsub{
  display: flex;
  
}
.tsub>a{
  display: flex;
  text-decoration: none;
  color: #1d1d1f;
  line-height: 1.34;
  padding: 12px 16px;
  margin: 6px 0;
  white-space: nowrap;

  width: 250px;
  height: 40px;
  background-color: #f5f5f7;
  border-radius: 20px;
  
}

/*************************** 2페이지 ***************************/
.sub_2pg{
  height: 2000px;
}

/*************************** 6페이지 ***************************/
.pg6_bx{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.set6{
display: flex;
justify-content: center;
gap: 2vw;

height: 1500px;
margin: 0 auto;
}

.pg6 {
height: 2000px;
background: #111111;
width: 100vw;
}
.pg6 h2 {
font-size: 4.6rem;
text-align: center;
color: #cecece;
font-weight: 600;
line-height: 160px;
white-space: nowrap;
}
.pg6_img {
display: flex;
justify-content: space-evenly;
margin-top: 100px;
}

.con_img {
margin: 0 auto;
margin-bottom: 22px;
height: 27%;
overflow: hidden;
}
.con_img img{
  transform: translateY(-120%);
  opacity: 0;
}
.con_img.on img{
  opacity: 1;
  transform: translateY(0%);
}
/* 각각 따로 주기 */
.pro_img img{
  transition: .4s ease-out;
}
.norm_img img{
  transition: .6s ease-out;
  transition-delay: .2s;
}
.norm13_img img{
  transition: .8s ease-out;
  transition-delay: .4s;
}
.se_img img{
  transition: 1s ease-out;
  transition-delay: .6s;
}

.swatch {
margin: 0 auto;
}
.c_14pro{
position: relative;
/* 가상요소 부모자격 */
}
.c_14pro::before{
content: 'New';
position: absolute;
top: 33px;
left: 20px;

color: #f56300;
font-size: 12px;
}
.c_14{
position: relative;
/* 가상요소 부모자격 */
}
.c_14::before{
content: 'New';
position: absolute;
top: 33px;
left: 30px;

color: #f56300;
font-size: 12px;
}
.swatch img{
height: 14px;
}
.logo_c{
margin: 0 auto;
}
.logo_c img{
/* 가운데정렬 */
display: block;
margin: 0 auto;
margin-top: 30px;
height: 20px;
margin-bottom: 4px;
}
.device_d{
margin-top: 7px;
}
.logo_c h3{
font-size: 17px;
color: #cecece;
font-weight: 400;
white-space: nowrap;
}

.p_info{
margin: 0 auto;
margin-top: 30px;
padding-bottom: 30px;
border-bottom: 1px solid #cecece;
}
.price{
margin: 0 0 10px 10px;
}
.price h3{
font-size: 14px;
color: #cecece;
font-weight: normal;
}
.bbtn{
padding: 0 21px;
}
.lm{
margin-top: 10px;
}
.lm a{
text-decoration: none;
}
.lm h3{
color: #2997ff;
font-size: 14px;
}

.detail_info{
  /* outline: 1px dashed #fff; */
  width: 100%;
  height: 100%;
  padding: 10%;

  display: flex;
  flex-direction: column;
}
.detail_info img{
  width: 38px;
  height: 38px;
}

.row{
  /* outline: 1px dashed blue; */
  width: 100%;
  height: 15%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}
.row img{
  margin: 10px 0;
}
.row h3{
  font-size: 14px;
  font-weight: normal;
  line-height: 1.7;
  white-space: nowrap;
}


.row_dynamic img{
  margin: 10px 0;
}
.row_battary img{
  width: 43px;
  height: 22px;
}