@charset "utf-8";
/* apple css */

/* 외부 CSS 합치기 */
@import url(./common.css);
@import url(./core.css);
/* 공통 css */


/****************************** 메인공통 ******************************/
.mw{
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 22px;
}


/****************************** 1페이지 ******************************/
.pg1 {
  position: relative;
  height: 803px;
}

.pg1 video {
  position: absolute;
  margin-top: 44px;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}

/****************************** 2페이지 ******************************/
/* 검은배경 */
.b_bg{
  position: static;
  height: 100vh;
  background-color: #000;
}
.pg2 {
  position: relative;
  padding: 1px;
  /* sticky는 부모가 height값 가지고 있어야함 */
  height: auto;
  /* 2페이지 글씨부모 */
  z-index: -1;
}
.copy2 {
  position: sticky;
  width: 600px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  /* outline: 1px dashed red; */
}
.pg2_wrap{
  background: url(../image/apple/background.png) no-repeat center/cover;
  width: 100%;
  height: 1200px;
  padding: 100px 0;
}
.wrap2{
  transform: rotate(180deg);
}

/* 글자색은 임시로 주었음 */
.pg2 h1 {
  font-weight: bold;
  font-size: max(148px, 72px);
  color: #000;
  white-space: nowrap;
}
.pg2 h2 {
  line-height: 5;
  font-size: 24px;
  color: #000;
  white-space: nowrap;
}
.pg2 h3 {
  font-size: 19px;
  color: #000;
  white-space: nowrap;
}

/*************************** 3페이지 ***************************/
.pg3 {
  display: flex;
  justify-content: center;
  height: 1200px;

}
.copy3{
  width: 42vw;
  margin-top: 300px;
  margin-right: 3vw;
  margin-left: 30px;
  margin-bottom: 100px;

}
.pg3 h2 {
  font-size: 5vw;
  color: #cecece;
  white-space: nowrap;
}
.pg3 h3 {
  font-size: 1.65vw;
  color: #cecece;
}

.hb3_2{
  margin-top: 26px;
  width: 80%;
}

.graphic{
  position: relative;
  margin-top: 300px;
}
.gimg{
  position: relative;
  width: 15vw;
  height: 30.5vw;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 auto;
}
.gimg ul{
  display: flex;
  position: relative;
  left: 0%;
  width: 800%;
  overflow: hidden;
  transition: .4s ease-in-out;
}
.gimg li{
  position: relative;
  flex-basis: 100%;
  /* opacity: 0; */
  transition: opacity .6s ease-in-out;
}
.gimg li img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}




/* .graphic{
  position: relative;
  width: 27vw;
  height: 100%;
  margin: auto;
  overflow: hidden;
  outline: 1px dashed; 
  margin-right: 100px;
}
.ggimg{
  position: relative;
  display: flex;
  width: 27vw;
  height: 100%;
} */
/* 4페이지 사진 두개 */
/* .ggimg::after{
  content: '';
  width: 16vw;
  background: url(../image/apple/lock_screen_1.jpg) no-repeat center/cover;
  transform: scale(0.7);
  filter: blur(1px) brightness(0.7);
  outline: 1px dashed #fff;
} */

/* .gimg{
  text-align: center;
  width: 100%;
}
.gimg img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: .4s;
}
.gimg2 img{
  transform: scale(0.7);
  filter: blur(1px) brightness(0.7);
} */

.padbtn{
  position: relative;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}
.padbtn ul{
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  
  margin: 30px 0;
}
.gbtn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 25px;
  background-color: #424245;
  color: #ccc;
  cursor: pointer;
  border: none;
}
/*************************** 4페이지  ***************************/
.pg4{
  position: relative;
  /* .color_list 부모 */
  height: 2200px;
  padding-top: 250px;
}
.pg4_color{
  position: relative;
  /* 부모자격: .color_list */
  /* 원본크기 */
  width: 406px;
  height: 1022px;
  overflow: hidden;
  margin: 0 auto;
}
.color_img ul>li{
  position: absolute;
  transition: opacity .4s;
  opacity: 0;
}
/* 첫번째 사진 나와있기 */
.color_img ul>li:first-of-type{
  opacity: 1;
  z-index: 1;
}
.color_img ul>li.on{
  opacity: 1;
  z-index: 1;
}

.color_list {
  width: 150px;
  height: 200px;
  position: absolute;
  right: 0;
  top: 50%;
  /* outline: 1px dashed #fff; */
  transform: translateY(-50%);
}

.color_list ul>li{
  margin-top: 20px;
}
.color_list ul li:hover a{
  color: #fff;
  transition: .4s;
}
.color_list li a{
  color: #424245;
  font-size: 21px;
  text-decoration: none;
  white-space: nowrap;
  transition: .2s;
}

.color_list li.on a{
  color: #fff;
  transition: .4s;
}

.copy4 {
  margin-top: 10vh;
  color: #cecece;
  width: 25.5vw;
  margin: 0 auto;
}
.color_img {
  text-align: center;
}
.color_img img{
  width: 100%;
}
.copy4 h2 {
  font-size: 32px;
}
.copy4 h2:first-child {
  margin-top: 9vh;
  color: #cecece;
  white-space: nowrap;
}
.copy4 h2:nth-child(2) {
  margin-top: 5vh;
  line-height: 1.7;
  color: #cecece;
  /* text-align: justify; */
}

/*************************** 5페이지 ***************************/
.pg5{
  height: 1500px;
}
.pg5 img {
  text-align: center;
  width: 100vw;
}
.copy5 h2 {
  font-size: 5vw;
  color: #cecece;
  font-weight: 600;
}
.copy5 h3 {
  color: #cecece;
  font-size: 3vw;
  font-weight: 600;
}
.copy5 {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1024px;
  height: 545px;
  margin-top: 29px;
}
.copy5 h2{
  font-size: 32px;
}
.copy5 h3{
  font-size: 24px;
  margin-top: 19px;
  padding-bottom: 30px;
  border-bottom: 1px solid #cecece;
}
.copy_main{
  margin-top: 90px;
  padding-right: 43px;
  margin-left: 81px;
}
.copy_Telephoto h2{
  
}
.copy_wide{
  margin-top: 90px;
  padding-right: 43px;
  margin-left: 81px;
}
/*************************** 6페이지 ***************************/
.pg6_bx{
  display: flex;
  flex-direction: column;
}

.set6{
display: flex;
justify-content: center;
gap: 5vw;

height: 1500px;
margin: 0 auto;
}

.main>.pg6 {
height: 1500px;
background: #111111;
width: 100vw;
}
.pg6 h2 {
font-size: 4.8rem;
text-align: center;
color: #cecece;
font-weight: 600;
line-height: 160px;
white-space: nowrap;
}
.pg6_img {
display: flex;
justify-content: space-evenly;
margin-top: 100px;
}

.con_img {
margin: 0 auto;
margin-bottom: 22px;
}
.swatch {
margin: 0 auto;
}
.c_14pro{
position: relative;
/* 가상요소 부모자격 */
}
.c_14pro::before{
content: 'New';
position: absolute;
top: 33px;
left: 20px;

color: #f56300;
font-size: 12px;
}
.c_14{
position: relative;
/* 가상요소 부모자격 */
}
.c_14::before{
content: 'New';
position: absolute;
top: 33px;
left: 30px;

color: #f56300;
font-size: 12px;
}
.swatch img{
height: 14px;
}
.logo_c{
margin: 0 auto;
}
.logo_c img{
/* 가운데정렬 */
display: block;
margin: 0 auto;
margin-top: 30px;
height: 20px;
margin-bottom: 4px;
}
.device_d{
margin-top: 7px;
}
.logo_c h3{
font-size: 17px;
color: #cecece;
font-weight: 400;
white-space: nowrap;
}

.p_info{
margin: 0 auto;
margin-top: 30px;
padding-bottom: 30px;
border-bottom: 1px solid #cecece;
}
.price{
margin: 0 0 10px 10px;
}
.price h3{
font-size: 14px;
color: #cecece;
}
.bbtn{
padding: 0 21px;
}
.lm{
margin-top: 10px;
}
.lm a{
text-decoration: none;
}
.lm h3{
color: #2997ff;
font-size: 14px;
}

.detail_info{
  outline: 1px dashed #fff;
  width: 100%;
  height: 100%;
  padding: 10%;

  display: flex;
}
.row_dynamic{
  outline: 1px dashed blue;
  width: 100%;
  height: 15%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row_dynamic img{
  width: 38px;
  height: 38px;
  margin: 10px 0;
}
.row_dynamic h3{
  font-size: 14px;
  font-weight: normal;
  margin: 50% 0;
}