@charset "utf-8";

/* apple css */

/* 전체 초기화 */
* {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
.page,
ul,
ol,
li,
header {
  margin: 0;
  padding: 0;
  color: #fff;
}
html {
  font-size: 10px;
  overflow-x: hidden;
  background-color: #000;
  /* 폰트 */    
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}
body * {
  /* outline: 1px dashed red; */
}
a * {
  text-decoration: none;
  color: #fff;
}
ul,ol,li{
  list-style: none;
}

:root {
  --bg_c: #1a1a1c;
  --logo_size: 14px;
}

/*********************** header부분 ***********************/
/*********************** header공통 ***********************/
.top {
  position: fixed;
  z-index: 999;

  width: 100vw;
  height: 44px;

  background: var(--bg_c);
}
.header {
  position: fixed;
  top: 0;
  left: 50%;

  width: 100%;
  max-width: 1024px;
  height: 44px;
  margin: 0 auto;
  padding: 0 22px;
  transform: translateX(-50%);

  background: var(--bg_c);
  /* #121212; */

  display: flex;
  justify-content: space-between;
}
/******************** header left ********************/
.header_left {
  position: relative;
  width: 25vw;
}
.logo img {
  position: absolute;
  top: 50%;
  /* left: 50%; */
  transform: translateY(-50%);
}

/******************** header main ********************/
.header_main {
  width: 50vw;
}
.gnb {
  /* margin-top: 13px; */
  line-height: 44px;
  height: 0;
}
.gnb ul {
  display: flex;
  justify-content: space-around;
  background: var(--bg_c);
}
.gnb ul li {
  font-size: 1.4rem;
  list-style: none;
}
.gnb ul li:hover .sub_menu
/* .gnb ul li:hover .gnb */ {
  background-color: var(--bg_c);
  display: block;
  /* height: 106px; */
}

.gnb a {
  text-decoration: none;
  color: #fff;
}

/****************** 서브메뉴 ******************/
.sub_menu {
  padding: 0;
  position: relative;
  z-index: 1;
  display: none;
  line-height: 35px;
  transition: 0.2s;
}
.sub_menu ol {
  list-style: none;
  background-color: var(--bg_c);
  /* margin-top: 14px; */
}

/******************** header right ********************/
.header_right {
  width: 25vw;
}
.icon {
  display: flex;
  justify-content: flex-end;
  height: 44px;
  gap: 55px;
}
.search {
  height: 30px;
  overflow: hidden;
}
.bag a img {
  height: 43px;
}
.btn {
  height: 44px;
  line-height: 44px;
}
#buy_btn {
  background-color: #0071e3;
  border-radius: 10px;
  width: 45px;
  height: 24px;
}
.btn a {
  text-decoration: none;
  color: #fff;
}

/****************************** 메인공통 ******************************/
.mw{
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 22px;
}


/****************************** 1페이지 ******************************/
.pg1 {
  position: relative;
  height: 803px;
}

.pg1 video {
  position: absolute;
  margin-top: 44px;
  width: 100%;
  z-index: 1;
}

/****************************** 2페이지 ******************************/
/* 검은배경 */
.b_bg{
  position: static;
  height: 2000px;
  background-color: #000;
}
.pg2 {
  position: relative;
  padding: 1px;
  /* sticky는 부모가 height값 가지고 있어야함 */
  height: auto;
  /* 2페이지 글씨부모 */
  z-index: -1;
}
.copy2 {
  position: sticky;
  width: 600px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}
.pg2_wrap{
  /* 사진 사이 가로선 지우기 */
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}
.pg2 img {
  width: 100%;
  overflow: hidden;
  height: 100%;
  display: flex;
}
.wrap2{
  transform: rotate(180deg);
  height: 100%;
}
.wrap2 img{
  width: 100%;
  overflow: hidden;
  height: 100%;
  display: flex;
}


/* 글자색은 임시로 주었음 */
.pg2 h1 {
  font-weight: bold;
  font-size: max(148px, 72px);
  color: #000;
}
.pg2 h2 {
  font-size: 24px;
  color: #000;
}
.pg2 h3 {
  font-size: 19px;
  color: #000;
}

/*************************** 3페이지 ***************************/
.pg3 {
  display: flex;
  gap: 70px;
  height: 1200px;
}
.copy3{
  width: 42vw;
  margin: auto;
}
.pg3 h2 {
  font-size: 5vw;
  color: #cecece;
  white-space: nowrap;
}
.pg3 h3 {
  font-size: 1.65vw;
  color: #cecece;
}
.hb3_2{
  margin-top: 26px;
}

.graphic{
  width: 52vw;
  margin: auto;
  /* margin-right: 100px; */
}
.gimg{
  text-align: center;
}
.graphic img{
  width: 16vw;
}

.padbtn ul{
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  
  /* 임시로 패딩 */
  padding: 0 55px;
  margin: 30px 0;
}
.gbtn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 25px;
  background-color: #424245;
  color: #ccc;
}
/*************************** 4페이지  ***************************/
.pg4{
  height: 2200px;
  padding-top: 250px;
}
.pg4_color{
  position: relative;
  /* 부모자격: .color_list */
}
.color_list{
  position: absolute;
  /* 부모: .pg4_color */
  right: 100px;
  top: 400px;
}
.color_list ul>li{
  margin-top: 20px;
}
.color_list li a{
  color: #424245;
  font-size: 21px;
  text-decoration: none;
}

.copy4 {
  margin-top: 10vh;
  color: #cecece;
  width: 25.5vw;
  margin: 0 auto;
}
.color_img {
  text-align: center;
}
.color_img img{
  width: 21.1vw;
}
.copy4 h2 {
  font-size: 32px;
}
.copy4 h2:first-child {
  margin-top: 9vh;
}
.copy4 h2:nth-child(2) {
  margin-top: 5vh;
}

/*************************** 5페이지 ***************************/
.pg5{
  height: 1500px;
}
.pg5 img {
  text-align: center;
  width: 100vw;
}
.copy5 h2 {
  font-size: 5vw;
  color: #cecece;
  font-weight: 600;
}
.copy5 h3 {
  color: #cecece;
  font-size: 3vw;
  font-weight: 600;
}
.copy5 {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1024px;
  height: 545px;
  margin-top: 29px;
}
.copy5 h2{
  font-size: 32px;
}
.copy5 h3{
  font-size: 24px;
  margin-top: 19px;
  padding-bottom: 30px;
  border-bottom: 1px solid #cecece;
}
.copy_main{
  margin-top: 90px;
  padding-right: 43px;
  margin-left: 81px;
}
.copy_Telephoto h2{
  
}
.copy_wide{
  margin-top: 90px;
  padding-right: 43px;
  margin-left: 81px;
}
/*************************** 6페이지 ***************************/
.set6{
  height: 1500px;
  margin: 0 auto;
}
.main>.pg6 {
  height: 1500px;
  background: #111111;
  width: 100vw;
}
.pg6 h2 {
  font-size: 4.8rem;
  text-align: center;
  color: #cecece;
  font-weight: 600;
}
.pg6_img {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px 20px;

  margin-top: 68px;
}
.con_img {
  margin: 0 auto;
  margin-bottom: 22px;
}
.swatch {
  margin: 0 auto;
}
.swatch img{
  height: 14px;
}
.logo_c{
  margin: 0 auto;
}
.logo_c img{
  height: 20px;
}
/*************************** footer ***************************/
.footer{
  background-color: #111111;
}
.footer_main{
  max-width: 1024px;
  margin: 0 auto;

  /* 높이는 임시로 준것 */
  height: 400px;
}