@charset "utf-8";
/* common.css */

/* 전체 초기화 */
* {
    box-sizing: border-box;
  }
  
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  .page,
  ul,
  ol,
  li,
  header {
    margin: 0;
    padding: 0;
    color: #fff;
  }
  html {
    font-size: 10px;
    overflow-x: hidden;
    background-color: #000;
    /* 폰트 */    
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
  }
  body * {
    /* outline: 1px dashed red; */
  }
  a * {
    text-decoration: none;
    color: #fff;
  }
  ul,ol,li{
    list-style: none;
  }
  
  :root {
    --bg_c: #1a1a1c;
    --logo_size: 14px;
  }
  