@charset "utf-8";
/* core.css(상단부분) */

/*********************** header부분 ***********************/
/*********************** header공통 ***********************/

.top {
    position: fixed;
    z-index: 999;

    width: 100%;
    height: 44px;

    background: var(--bg_c);
    transition: height .2s;
}
.top.on {
    height: 180px;
}
.top.h0 .sub_menu{
    height: 0;
}
/* .top:after{
    content: '';
    display: block;
    width: 100%;
    height: 149px;
    background-color: var(--bg_c);
    display: none;
  } */

  .header{
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    max-width: 1024px;
    height: 44px;
    margin: 0 auto;
    padding: 0 22px;
    transform: translateX(-50%);
    background: var(--bg_c);
    display: flex;
    justify-content: space-between;
  }
  
/******************** header left ********************/
.header_left{
    position: relative;
    flex-basis: 25%;
}
.logo img {
    position: absolute;
    top: 50%;
    /* left: 50%; */
    transform: translateY(-50%);
}

/******************** header main ********************/
.header_main{
    /* width: 26.66vw; */
    flex-basis: 48%;
    transition: .2s;
    opacity: 1;
}
.gnb {
    /* margin-top: 13px; */
    line-height: 44px;
    height: 0;
}
.gnb ul{
    display: flex;
    /* background: var(—bg_c); */
    justify-content: space-between;
}
.gnb ul li {
    font-size: 1.4rem;
}
.gnb ul li:hover .sub_menu {
    height: 106px;
}
.top.on .sub_menu{
    /* height: 106px; */
}


.gnb a {
    text-decoration: none;
    color: #fff;
}

/****************** 서브메뉴 ******************/
.sub_menu {
    padding: 0;
    position: relative;
    z-index: 1;
    /* display: none; */
    line-height: 35px;
    height: 0;
    overflow: hidden;
    transition: 0.2s;
}
.sub_menu ol {
    list-style: none;
    /* background-color: var(--bg_c); */
    /* margin-top: 14px; */
}

/******************** header right ********************/
.header_right{
    /* width: 25vw; */
    transition: .2s;
    flex-basis: 30%;
}
.icon {
    display: flex;
    justify-content: flex-end;
    height: 44px;
    gap: 55px;
}

/* search-bar */
.search_imgbx {
    position: absolute;
    top: -6px;
    z-index: 1;
}

form:hover .search_imgbx {
    position: absolute;
    top: 5px;
    left: 5px;

    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #000;
}
form:hover .search_imgbx img {
    position: absolute;
    top: -11px;
    right: 4px;
}
form {
    position: absolute;
    top: 50%;
    right: 19%;
    transform: translateY(-50%);
    transition: all 0.2s;
    width: 40px;
    height: 40px;
    background: #1a1a1c;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid #1a1a1c;
    padding: 5px;
    overflow: hidden;
}
.search_bar {
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 14px;
    border-radius: 20px;
    padding: 0 30px;
}
/* .fa {
    box-sizing: border-box;
    padding: 10px;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 5px;
    right: 4px;
    border-radius: 50%;
    color: #cecece;
    text-align: center;
    font-size: 14px;
    transition: all 1s;
}

.fa-search:before {
    position: absolute;
    content: "\f002";
    top: 3px;
    right: 4px;
}
.fa{
    color: #cecece;
    text-align: center;
    font-size: 14px;
} */
.clear-btn {
    display: none;
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    color: white;
    text-align: center;
    width: 100%;
}

form:valid{
    display: block;
}
form:hover,
form:valid {
    width: 132px;
    cursor: pointer;
}

form:hover input,
form:valid input {
    display: block;
}


/* form:hover .fa,
form:valid .fa {
    background: #07051a;
    color: white;
} */

/* bag */
.bag a img {
    height: 43px;
}
.bag_comment{
    position: absolute;
    width: 300px;
    height: 50px;
    opacity: 0;
    top: 50px;
    transition: opacity .2s;
}
.bag_comment.on{
    opacity: 1;
}
.bag_comment h2{
    font-size: 24px;
    color: #e8e8ed;
    line-height: 1.16;
    margin: 12px 0 24px;
    transition: .6s;
    cursor: default;
}
.bag_comment a{
    color: #2997ff;
}
.bag_comment h3{
    color: #cecece;
    cursor: default;
}



.btn {
    height: 44px;
    line-height: 44px;
}
#buy_btn {
    width: 45px;
    height: 24px;
    background-color: #0071e3;
    border-radius: 10px;
    border: none;
}
.btn a {
    text-decoration: none;
    color: #fff;
}

/* 모바일 햄버거 버튼 */
.ham {
    position: fixed;
    top: 0%;
    right: 20px;
    z-index: 999;

    /* transform: translateY(-50%); */

    width: 23px;
    height: 100%;
    /* background-color: transparent; */
    border: none;
    font-size: 25px;
    /* transform: scaleX(1.5); */

    cursor: pointer;

    /* 처음에 숨기기 */
    display: none;
    /* outline: 1px dashed #fff; */
}
/* 햄버거모양 가상요소넣기 */
/* .ham::before {
    content: "≡";
    color: #fff;
} */
.ham span{
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #fff;
    transition: 0.3s;
}
.top.active .ham span{
    background-color: #fff;
}
/* 햄버거 span바 초기셋팅 */
.ham span:nth-child(1) {
    top: 35%;
}
.ham span:nth-child(2) {
    top: 50%;
}
.ham span:nth-child(3) {
    top: 66%;
}

/* 클릭이벤트JS처리시 클래스on셋팅 */
.top.active .ham{
    width: 19px;
}
.top.active .ham span:nth-child(1) {
    transform: rotate(45deg);
    top: 47%;
}
.top.active .ham span:nth-child(2) {
    width: 0;
    left: 0%;
}
.top.active .ham span:nth-child(3) {
    transform: rotate(-45deg);
    top: 47%;
}

/*************************** footer ***************************/
.footer {
    background-color: #111111;
    /* 높이는 임시로 준것 */
    height: 400px;
}
.footer_main {
    display: grid;
    grid-template-columns: repeat(3, 3fr);

    max-width: 950px;
    margin: 0 auto;

    /* outline: 1px dashed red; */
}
.info {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    /* background-color: lightcoral; */
}
.info_icon {
    margin: 0 auto;
}
.info img {
    width: 100%;
    height: 200px;
}
.info_title {
    margin: 0 auto;
    /* outline: 1px dashed blue; */
}
.info_title h2 {
    /* 중앙정렬 */
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: #cecece;
    margin: 0 auto;

    white-space: nowrap;
}
.info_title::after {
    content: "Learn more >";
    display: flex;
    justify-content: center;
    color: #2997ff;
    font-size: 14px;

    margin-top: 30px;
    margin-bottom: 100px;
    cursor: pointer;
}
