@charset "utf-8";
/* core.css(상단부분) */

/*********************** header부분 ***********************/
/*********************** header공통 ***********************/
.top {
    position: fixed;
    z-index: 999;
  
    width: 100vw;
    height: 44px;
  
    background: var(--bg_c);
  }
  /* .top:after{
    content: '';
    display: block;
    width: 100%;
    height: 149px;
    background-color: var(--bg_c);
    display: none;
  } */
  
  .header {
    position: fixed;
    top: 0;
    left: 50%;
  
    width: 100%;
    max-width: 1024px;
    height: 44px;
    margin: 0 auto;
    padding: 0 22px;
    transform: translateX(-50%);
  
    background: var(--bg_c);
    /* #121212; */
  
    display: flex;
    justify-content: space-between;
  }
  /******************** header left ********************/
  .header_left {
    position: relative;
    width: 25vw;
  }
  .logo img {
    position: absolute;
    top: 50%;
    /* left: 50%; */
    transform: translateY(-50%);
  }
  
  /******************** header main ********************/
  .header_main {
    width: 50vw;
  }
  .gnb {
    /* margin-top: 13px; */
    line-height: 44px;
    height: 0;
  }
  .gnb ul {
    display: flex;
    justify-content: space-around;
    /* background: var(--bg_c); */
  }
  .gnb ul li {
    font-size: 1.4rem;
    list-style: none;
  }
  .gnb ul li:hover .sub_menu {
    /* background-color: var(--bg_c); */
    /* display: block; */
    height: 106px;
  }
  .on1{
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100vw;
    height: 149px;
    background-color: #fff;
  }
  
  .gnb a {
    text-decoration: none;
    color: #fff;
  }
  
  /****************** 서브메뉴 ******************/
  .sub_menu {
    padding: 0;
    position: relative;
    z-index: 1;
    /* display: none; */
    line-height: 35px;
    height: 0;
    overflow: hidden;
    transition: 0.2s;
  }
  .sub_menu ol {
    list-style: none;
    /* background-color: var(--bg_c); */
    /* margin-top: 14px; */
  }
  
  /******************** header right ********************/
  .header_right {
    width: 25vw;
  }
  .icon {
    display: flex;
    justify-content: flex-end;
    height: 44px;
    gap: 55px;
  }
  .search {
    height: 30px;
    overflow: hidden;
  }
  .bag a img {
    height: 43px;
  }
  .btn {
    height: 44px;
    line-height: 44px;
  }
  #buy_btn {
    background-color: #0071e3;
    border-radius: 10px;
    width: 45px;
    height: 24px;
  }
  .btn a {
    text-decoration: none;
    color: #fff;
  }
  




  /*************************** footer ***************************/
.footer{
    background-color: #111111;
    /* 높이는 임시로 준것 */
    height: 400px;
  }
  .footer_main{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
  
    max-width: 950px;
    margin: 0 auto;
  
    /* outline: 1px dashed red; */
  }
  .info{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    /* background-color: lightcoral; */
  }
  .info_icon{
    margin: 0 auto;
  }
  .info img{
    width: 100%;
    height: 200px;
  }
  .info_title{
    margin: 0 auto;
    /* outline: 1px dashed blue; */
  }
  .info_title h2{
    /* 중앙정렬 */
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: #cecece;
    margin: 0 auto;
  
    white-space: nowrap;
  }
  .info_title::after{
    content: 'Learn more >';
    display: flex;
    justify-content: center;
    color: #2997ff;
    font-size: 14px;
  
    margin-top: 30px;
    margin-bottom: 100px;
    cursor: pointer;
  }