/************************* 미디어쿼리 *************************/
@media screen and (max-width: 1600px) {
    /******************* 2페이지 *******************/
    .copy2 {
        transform: translate(-40%, -50%);
    }

    /******************* 3페이지 *******************/

    .copy4 {
        width: 32.2vw;
    }
}
/************************* max: 1600 *************************/

@media screen and (max-width: 1400px) {
    .copy3 {
        margin-right: 6vw;
    }
    .graphic {
        height: 42vw;
    }
    .gimg {
        width: 17vw;
        height: 34.5vw;
    }
}
/************************* max: 1400 *************************/
@media screen and (max-width: 1200px) {
    .copy2 {
        transform: translate(-30%, -50%);
    }

    .copy3 {
        width: 55%;
        margin-left: 60px;
    }
    .pg3 h2 {
        font-size: 7vw;
    }
    .gimg {
        width: 20vw;
        height: 40.5vw;
    }
    .copy4 h2 {
        font-size: 26px;
    }
    .pg4 {
        height: 1600px;
        padding-top: 100px;
    }
}
/************************* max: 1200 *************************/

@media screen and (max-width: 900px) {
    .top.on {
        height: 100vh;
    }
    .logo img {
        top: 0;
        left: 45vw;
        transform: none;
    }
    .ham {
        position: absolute;
        top: 5px;
        right: 25px;

        width: 25px;
        height: 25px;
        background-color: transparent;
        border: none;
        font-size: 25px;
        transform: scaleX(1.5);
        color: #fff;
        cursor: pointer;

        /* display: none; */
    }
    .gnb {
        display: none;
    }
    .ham {
        display: block;
    }
    .search {
        display: none;
    }
    .bag {
        display: none;
    }
    .btn {
        display: none;
    }
    .gnb ul li:hover .sub_menu {
        height: 0;
    }

    /* 햄버거버튼 클릭시 */

    .top.active {
        background-color: #1a1a1c;
        height: 100vh;
    }
    .top.active .ham {
        z-index: 9999;
        color: #fff;
        transform: scale(1);
    }
    .top.active .ham::before {
        content: "×";
        font-size: 28px;
    }
    .top.active .gnb {
        display: block;
        position: fixed;
        top: 90px;
        left: 0;
        width: 100vw;
        height: 50vh;
        background-color: #1a1a1c;
        z-index: 99;
    }
    .top.active .gnb ul {
        flex-direction: column;
        text-align: center;
    }
    .top.active .gnb ul li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        width: 100%;
        margin: 0;
        padding: 60px 0;
        font-size: 8vw;
    }

    .b_bg {
        height: 50vh;
    }
    .copy2 {
        width: 400px;
        height: 400px;
        transform: translate(-50%, -50%);
    }
    .copy2 h1 {
        font-size: 90px;
    }
    .copy2 h2 {
        font-size: 3vw;
    }
    .copy2 h3 {
        font-size: 16px;
    }

    .pg3 h2 {
        font-size: 8vw;
    }
    .pg3 h3 {
        font-size: 2.65vw;
    }
    .gimg {
        width: 28vw;
        height: 57.5vw
    }

    .pg4_color {
        width: 300px;
        height: 740px;
    }
    .copy4 {
        width: 50vw;
    }

    .main>.pg6 {
        height: 2500px;
    }
    .set6 {
        flex-wrap: wrap;
    }
    .pg6_bx {
        flex-basis: 35%;
    }
    .detail_info {
        height: 650px;
    }
    .row{
        height: 20%;
    }
}
/************************* max: 900 *************************/

@media screen and (max-width: 800px) {
    .copy2 {
        height: 300px;
    }
    .copy2 h1 {
        font-size: 60px;
    }

    .pg3 {
        flex-direction: column-reverse;
        height: 1500px;
        padding-top: 50px;
    }

    .pg3{
        padding-top : 0;
    }
    .copy3 {
        margin: 0 auto;
        margin-bottom: 50px;
        width: 50vw;
    }
    .graphic {
        height: 134vw;
        margin-top : 0;
    }
    .gimg {
        width: 48vw;
        height: 97.5vw;
    }
    .pg3 h2 {
        font-size: 8.5vw;
    }
    .pg3 h3 {
        font-size: 2.65vw;
    }

    .color_list {
        top: 500px;
    }

    .pg6 h2 {
        font-size: 32px;
    }

    .info {
        width: 100px;
        height: 100px;
    }
    .info img {
        height: 100px;
    }
    .info_title h2 {
        font-size: 14px;
    }
}
/************************* max: 800 *************************/
@media screen and (max-width: 700px) {
    .copy2 {
        transform: translate(-38%, -45%);
    }
}
/************************* max: 700 *************************/

@media screen and (max-width: 650px) {
    .logo img {
        left: 43vw;
    }
    .copy2 {
        width: 50%;
        transform: translate(-50%, -50%);
        /* transform: translate(-35%, -50%); */
    }

    .graphic {
        margin-bottom: 0;
    }
    .graphic img {
        width: 50vw;
    }

    .pg4 {
        height: 1500px;
        padding-top: 200px;
    }

    .color_list {
        width: 98px;
        height: 158px;
    }
    .color_list ul li a {
        font-size: 14px;
        font-weight: bold;
    }
    .copy4 h2 {
        font-size: 4.5vw;
    }
    .copy4 h2:first-child {
        margin-top: 5vh;
    }

    .pg5 {
        height: 1000px;
    }
    .copy5 h2 {
        font-size: 24px;
    }
    .copy h3 {
        font-size: 2.5vw;
    }

    .pg6_title h2 {
        font-size: 20px;
    }
}
/************************* max: 650 *************************/

@media screen and (max-width: 600px) {
    .copy2 {
        transform: translate(-50%, -40%);
    }
    .pg4_color {
        width: 200px;
        height: 500px;
    }
}
/************************* max: 600 *************************/

@media screen and (max-width: 500px) {
    html {
        overflow-x: hidden;
    }

    .copy2 {
        width: 70%;
        transform: translate(-23%, -50%);
    }
    .copy2 h1 {
        font-size: 15vw;
    }
    .copy2 h2 {
        font-size: 3vw;
    }
    .copy2 h3 {
        font-size: 2.5vw;
    }

    .graphic {
        width: 75vw;
        height: 800px;
        margin: 0 auto;
    }
    .gimg {
        width: 300px;
        height: 607px;
    }
    .copy3 {
        width: 70vw;
    }
    .pg3{
        justify-content: space-around;
    }
    .pg3 h2 {
        font-size: 10.5vw;
    }
    .hb3_2 {
        width: 100%;
    }
    .hb3_2 h3 {
        font-size: 3vw;
    }

    .pg4 {
        height: 1200px;
        margin-bottom: 100px;
    }
    .color_list {
        width: 80px;
    }
    .color_list ul li a {
        font-size: 12px;
    }

    .copy_main {
        padding-right: 20px;
        margin-left: 30px;
    }
    .copy_Telephoto{
        padding-right: 20px;
    }
    .copy_wide {
        padding-right: 30px;
    }

    .main > .pg6 {
        height: 4800px;
    }
    .pg6_bx {
        flex-basis: 50%;
    }

    .footer {
        height: 700px;
    }
    .footer_main {
        grid-template-columns: repeat(1, 3fr);
    }
    .info {
        margin-bottom: 100px;
    }

    
}
/************************* max: 500 *************************/
