@charset "utf-8";

/* 탑, footer -- common.css */

/*********************************** 
    **********주의사항**********
    - 부피먼저
    - 레이아웃먼저
    - 가장큰태그는 '섹션'으로 함

***********************************/

/************************* 공통 *************************/
html,body,ol,ul,li,h1,h2,h3,h4,div,span,a{
    margin: 0;
    padding: 0;
}

/* 표시 */
html *{
    outline: 1px dashed #000;
    background-color: #fbf9fa;
    font-family: 'Canela Trial', sans-serif;
}
ol,ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}

.wd{
    max-width: 1200px;
    margin: 0 auto;
}
/* 마진고려한 배경높이 */
.ht_m{
    height: calc(100vh - 50px);
    /* background-color: #009688; */
    padding-top: 50px;
}
/* 마진x 배경높이 */
.ht{
    height: 100vh;
    /* background-color: lightsalmon; */
}


.underline {
    line-height: 1.2;
    background-image: linear-gradient(transparent calc(100% - 3px), #000 3px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.8s;
    color: #000;
    cursor: pointer;
}
.underline.yellow {
    background-image: linear-gradient(transparent 60%, #F8CD07 40%);
}
.underline:hover {
    background-size: 100% 100%;
}


/*************************** 탑영역 ***************************/
.top{
    width: 100vw;
    height: 50px;
    position: fixed;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    z-index: 1;
    border-bottom: 1px solid #bbb;
    transition: .4s ease-out;
}
.top.on{
    top: -100%;
}
.top_wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 20%;
    display: flex;
    height: 100%;
    align-items: center;
}
.logo a{
    margin: 0 auto;
    font-family: 'Tiempos Headline', sans-serif;
    font-weight: 600;
    text-shadow: 1px 1px 1px #333;

    position: relative;
    z-index: 99;
}

.gnb{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gnb_ol{
    display: flex;
    /* display: none; */
    gap: 20px;
}
.gnb_ol li a{
    font-family: 'Canela Trial', sans-serif;
}


/* 모바일 안보이기 */
.mob{
    display: none;
}


/* 장바구니 */
.cartBox{
    position: fixed;
    width: 500px;
    height: 100vh;
    right: -100%;
    top: 0;
    border-left: 1px solid #bbb;
    z-index: 1;
    transition: .4s;
}
.cartBox.open{
    right: 0;
}
.lnb a.on,
.cart>a.on{
    background-image: linear-gradient(transparent 60%, #F8CD07 40%);
    background-size: 100% 100%;
}
.cart_top{
    display: flex;
    padding: 10%;
    justify-content: space-between;
    
}
.cart_top span{
    cursor: pointer;
}
.cart_main{
    width: 90%;
    padding: 5%;
    display: flex;
    justify-content: space-around;
}
.cart_pic{
    width: 15%;
}
.cart_pic img{
    width: 100%;
}
.cart_tit{
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    line-height: 1.7;
}
.cart_cnt{
    width: 10%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart_Mx{
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 20px;
    opacity: 0;
}
.subtotal_part{
    position: absolute;
    bottom: 15%;
    padding: 10%;
    width: 80%;
    display: flex;
    justify-content: space-between
}
.chkout{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 50px;
    background-color: rgb(244, 125, 0);
    color: #fff;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 5px #555;
}








/* 햄버거버튼 */
.toggle-button {
    /* 처음에 안보임 */
    display: none;
    position: absolute;
    z-index: 99;
    width: 20px;
    height: 12px;
    top: 50%;
    right: 12%;
    transform: translate(-20%, -50%);
}
.toggle-button:hover {
    cursor: pointer;
}
.toggle-button .menu-bar {
    width: 100%;
    height: 2px;
    background-color: #555;
    border-radius: 2px;
    position: absolute;
    transition: .5s;
}
/* 햄버거 각 막대기 위치 */
.toggle-button .menu-bar-top {
    top: 0;
}
.toggle-button .menu-bar-middle {
    top: 50%;
    transform: translateY(-50%);
}
.toggle-button .menu-bar-bottom {
    bottom: 0;
}

/* X버튼 */
.button-open .menu-bar-top {
    transform: rotate(45deg);
    top: 50%;
}
.button-open .menu-bar-middle {
    transform: translate(-230px);
    opacity: 0;
    transition: all .1s ease-in;
}
.button-open .menu-bar-bottom {
    transform: rotate(-45deg);
    top: 50%;
}














/*************************** footer영역 ***************************/
.info{
    width: 100%;
    height: 200px;
    margin-top: 25%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #bbb;
}
.info h3{
    font-family: 'Canela Trial', sans-serif;
    font-weight: 300;
}
.info_logo a{
    background-color: transparent;
    font-family: 'Tiempos Headline', sans-serif;
    text-shadow: 1px 1px 1px #333;
}
