@charset "utf-8";

/* 탑, footer -- common.css */

/*********************************** 
    **********주의사항**********
    - 부피먼저
    - 레이아웃먼저
    - 가장큰태그는 '섹션'으로 함

***********************************/

/************************* 공통 *************************/
html,body,ol,ul,li{
    margin: 0;
    padding: 0;
}

/* 표시 */
html *{
    outline: 1px dashed #000;
    background-color: #fbf9fa;
}
ol,ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}

/*************************** 탑영역 ***************************/
.top{
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center
}
.gnb_ol{
    display: flex;
}

/*************************** main영역 ***************************/

/*************************** footer영역 ***************************/