@charset "utf-8";

/* 탑, footer -- common.css */

/*********************************** 
    **********주의사항**********
    - 부피먼저
    - 레이아웃먼저
    - 가장큰태그는 '섹션'으로 함

***********************************/

/************************* 공통 *************************/
html,body,ol,ul,li,h1,h2,h3,h4,div,span,a{
    margin: 0;
    padding: 0;
}

/* 표시 */
html *{
    outline: 1px dashed #000;
    background-color: #fbf9fa;
}
ol,ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}

.wd{
    max-width: 1200px;
    margin: 0 auto;
}
/* 마진고려한 배경높이 */
.ht_m{
    height: calc(100vh - 50px);
    /* background-color: #009688; */
    padding-top: 50px;
}
/* 마진x 배경높이 */
.ht{
    height: 100vh;
    /* background-color: lightsalmon; */
}

/*************************** 탑영역 ***************************/
.top{
    width: 100vw;
    height: 50px;
    position: fixed;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    z-index: 1;
    border-bottom: 1px solid #bbb;
    transition: .4s ease-out;
}
.top.on{
    top: -100%;
}
.top_wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 20%;
    display: flex;
    height: 100%;
    align-items: center;
}
.logo a{
    margin: 0 auto;
    font-family: 'Tiempos Headline', sans-serif;
    font-weight: 600;
    text-shadow: 1px 1px 1px #333;
}

.gnb{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gnb_ol{
    display: flex;
    /* display: none; */
    gap: 20px;
}
.gnb_ol li a{
    text-shadow: 1px 1px 1px #333;
}
/* 오버하면 색깔 번짐 */
.gnb_ol li a:hover{
    font-weight: bold;
    text-shadow: 1px 1px 10px #313131;
}

/* 모바일 안보이기 */
.mob{
    display: none;
}




/* 모바일 햄버거 버튼 */
.ham {
    position: fixed;
    top: 10%;
    right: 10%;
    z-index: 999;

    transform: translateY(-50%);

    width: 23px;
    height: 100%;
    border: none;
    font-size: 25px;

    cursor: pointer;

    /* 처음에 숨기기 */
    display: none;
}

.ham span{
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #fff;
    transition: 0.3s;
}
/* 햄버거모양 가상요소넣기 */
.ham>span::after{
    content: 'ㅡ';
    display: block;
}
.top.active .ham span{
    background-color: #fff;
}
/* 햄버거 span바 초기셋팅 */
.ham span:nth-child(1) {
    top: 35%;
}
.ham span:nth-child(2) {
    top: 49.2%;
}
.ham span:nth-child(3) {
    top: 62%;
}

/* 클릭이벤트JS처리시 클래스on셋팅 */
.top.active .ham{
    width: 19px;
}
.top.active .ham span:nth-child(1) {
    transform: rotate(45deg);
    top: 47%;
}
.top.active .ham span:nth-child(2) {
    width: 0;
    left: 0%;
}
.top.active .ham span:nth-child(3) {
    transform: rotate(-45deg);
    top: 47%;
}


/*************************** footer영역 ***************************/
.info{
    width: 100%;
    height: 200px;
    margin-top: 25%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #bbb;
}
.info h3{
    font-family: 'Canela Trial', sans-serif;
    font-weight: 300;
}
.info_logo a{
    background-color: transparent;
    font-family: 'Tiempos Headline', sans-serif;
    text-shadow: 1px 1px 1px #333;
}
