@charset "utf-8";

/* main.css */

/* pg1 */
.title{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}
.title h1{
    font-size: 10vw;
    background-color: transparent;
}
.vdbx{
    position: relative;
    width: 100vw;
}
.main_vd{
    width: 100%;
}


/* pg2 */
.cont_pg2{
    /* 임시 */
    width: 100px;
    height: 100px;
}
.pg2_wrap {
    display: flex;
    justify-content: center;
    overflow-x: auto;
}
.pg2_containers{
    display: flex;
}
/* 이미지 */
.pg2_temp{
    /* 임시 */
    width: 500px;
    height: 500px;
}