@charset "utf-8";

/* 서브 미디어_product.css */

@media screen and (max-width: 800px) {
    .top_title{
        font-size: 30px;
    }
    .lnb{
        width: 80%;
    }
    .lnb a{
        white-space: nowrap;
        font-size: 14px;
    }

    .item{
        flex-basis: 49%;
    }
    .item_copy{
        bottom: -5%;
    }
    .item_copy span{
        font-size: 14px;
    }
    .item_copy h2{
        font-size: 20px;
    }
}/******************* 800 *******************/