@charset "utf-8";

.ma_1pg_img1_wrapper{
    width: 80vw;
    text-align: center;
    margin: 0 auto;
    position: relative;
    /* height: 44vw; */
    overflow: hidden;
    margin-top: 85px;

    aspect-ratio: 164/101;
    background: transparent no-repeat fixed;
    background-position: center;
    background-size: 80%;

    outline: 1px dashed red;
}
.ma_1pg_img1{
    width: 100%;
    border: 1px solid #000;
}




.ma_1pg_imgs{
    width: 100%;
    margin: 0 auto;
    position: absolute;
}
.ma_1pg_imgs img{
    width: 100%;
}
.ma_1pg_base{
    width: 100%;
    z-index: 10;
    aspect-ratio: 164/101;
    background: url(../../public/images/main/kv_base_pc.jpg) no-repeat;
    background-position: center;
    background-size: 100%;
}
.ma_1pg_bg{
    width: 100%;
}


.moveBox{
    width: 15vw;
    height: 15vw;
    border: 2px solid #fff;
    position: relative;
    z-index: 11;
    /* left: 0px; */
    /* top: 0px; */
    
    background: url(../../public/images/main/kv_a_pc.jpg) no-repeat;
    /* background-position: center; */
    background-size: 80vw;
    /* transition: .1s ease-in; */
    /* display: none; */
    /* animation: rotateBx 3s linear infinite; */
    /* transform-origin: 100px 100px; */
    /* animation: rotateBx 3s linear infinite; */
    transform: rotate(360deg);
}
.mvbg{
    outline: 2px dashed red;
    width: 10vw;
    height: 10vw;
    position: relative;
    z-index: 11;
    top: 0%;
    left: 0%;
    background: url(../../public/images/main/kv_b_pc.jpg) no-repeat;
    background-size: 80vw;
    /* animation: rotateBx 3s linear infinite; */
    transform-origin: center center;

}

@keyframes rotateBx {
    0%{
        transform-origin: center center;
        transform: rotate(0deg) translate(-20%, -20%) rotate(0);
    }
    100%{
        transform-origin: center center;
        transform: rotate(360deg) translate(-20%, -20%) rotate(-360deg) ;
    }
}


.ma_pg1_copy{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    padding: 100px 0;
}
.numb{
    margin-right: 10%;
    font-size: 11px;
}
.ma_pg1_copy_part{
    width: 80%;
}
.ma_pg1_title{
    font-size: 3vw;
    margin-bottom: 50px;
}
.ma_pg1_font{
    font-size: 1.2vw;
    line-height: 20px;
}


.wrap {
    position: absolute;
    top: calc(50% - 590px/2);
    left: calc(50% - 500px/2);
    /* transform: translate(-50%, -50%); */
    width: 590px;
    height: 500px;
    outline: 1px solid #ccc;
    overflow: hidden;
    /*바깥으로 나가는 #mask박스 숨기기*/
}

/*가장 아래 깔리는 박스*/
#bg {
    position: absolute;
    width: 590px;
    height: 500px;
    background: url(../../public/images/main/kv_base_pc.jpg) no-repeat fixed;
    z-index: 9;
}

/*마스크 효과 box*/
#mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;

    background: url(../../public/images/main/kv_b_pc.jpg) no-repeat fixed;
    z-index: 99;
    /*border: 5px dotted red;*/

    /*트랜지션:속시이지*/
    /* transition: top .4s ease-out,
        left .4s ease-out; */
}

/*이벤트가 적용되는 box*/
#cover {
    position: absolute;
    width: 590px;
    height: 500px;
}






/* 메인 2페이지 */
.ma2_2pg_about{
    height: 4500px;
}
.ma_2pg_img{
    position: sticky;
    top: 10%;
    overflow: hidden;
}
.about{
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    aspect-ratio: 21/10;

    /* background: url(../../public/images/main/aboutA_pc@1.5x.jpg) no-repeat; */
}
.about img{
    width: 100%;
    border: none;
    position: absolute;
}
.about_cover{
    width: 33.33%;
    aspect-ratio: 10/13.33;

    position: absolute;
    transform: translateX(0%);
    z-index: 9;
    
    outline: 3px dashed #000;


}
.cv1{
    left: 0%;
    background:url(../../public/images/main/aboutC_pc@1.5x.jpg) no-repeat;
}
.cv2{
    left:33.33%;
    background:url(../../public/images/main/aboutA_pc@1.5x.jpg) no-repeat;
}
.cv3{
    left:66.66%;
    background:url(../../public/images/main/aboutB_pc@1.5x.jpg) no-repeat;
}
.cv4{
    left:99.99%;
    background:url(../../public/images/main/aboutC_pc@1.5x.jpg) no-repeat;
}
.cv5{
    left:133.32%;
    background:url(../../public/images/main/aboutA_pc@1.5x.jpg) no-repeat;
}
.cv6{
    left:166.65%;
    background:url(../../public/images/main/aboutB_pc@1.5x.jpg) no-repeat;
}
.about_cover img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
}


/* 글씨부분 */
.ma_2pg_copy{
    display: flex;
    padding: 1vw;
    margin-bottom: 100px;
}
.ma_2pg_title{
    margin-left: 3vw;
    font-size: 17vw;
    letter-spacing: -10px;
}
.ma_2pg_cont{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}
.ma_2pg_cont h2{
    font-size: 1vw;
    font-weight: normal;
    margin-bottom: 20px;
}
.ma_2pg_cont h3{
    font-size: 0.8vw;
    font-weight: normal;
}
.pg2_line{
    width: 0%;
    background: #000;
    height: 1px;
    margin-bottom: 20px;
    transition: .8s;
}





/* 3페이지 */
.ma_3pg{
    margin-top: 30%;
}
.ma_3pg_copy{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 100px;
}
.ma_3pg_line{
    height: 1px;
    width: 0%;
    background-color: #000;
    margin: 0 auto;
}
.features_heading{
    font-size: 10vw;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: 1s linear;
    animation: headAni linear 10s infinite;
    letter-spacing: -5px;
    background: none;
}
.features_heading span,
.features_heading h2{
    background: none;
}
@keyframes headAni {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(-100%);
    }
}
.ma_3pg_cont{
    display: flex;
    padding: 0 10vw;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;    
}
.ma_3pg_font1{
    width: 30vw;
}
.ma_3pg_font2{
    width: 30vw;
}
.ma_3pg_line{
    transition: .8s;
}


.ma_3pg_img_part{
    width: 100%;
    padding: 0 10vw;
    height: 2000px;
    background: url(../../public/images/main/reel.mp4) no-repeat center/cover;
    background-size: 100vw 100vh;
}
.ma_3pg_img{
    outline: 1px dashed red;
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 10%;
    aspect-ratio: 1441/800;
    display: flex;
    overflow: hidden;
    z-index: 1;
}
.ma_3pg_imgwrap{
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    position: absolute;
    /* outline: 1px dashed  red; */
    overflow: hidden;
}
.ma_3pg_imgwrap img{
    position: absolute;
    background: none;
    width: 100%;
}
.wi3_1 img{
    opacity: 0.8;
    z-index: 1;

    margin: 0 auto;
    /* outline: 1px dashed blue; */
    left: 50%;
    transform: translateX(-50%);
}

.wi3_2{
    left: -50%;
}
.wi3_2 img{
    /* display: none; */
    transform: translateX(50%);
    transition: .4s;
}

.wi3_3{
    right: -50%;
}
.wi3_3 img{
    /* display: none; */
    transform: translateX(-50%);
    transition: .4s;
}

.vidBx{    
    position: fixed;
    top: 0px;
    left: -130%;
    width: 100vw;
    /* background: #000; */
    /* object-fit: cover; */
    height: 100%;
    z-index: 0;
    transition: .4s;

}
.vidBx.on{
    left: 0%;
}
.vidbg{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #222;
    transition: .2s ease-in-out;
    z-index: 0;
}
.vidbg.on{
    background: #000;
    left:0%;
}
.vidbg.on2{
    left:100%;
}
video{
    /* display: none; */
    height: 100%;
    width: 100%;
    transform: scale(1.2);
}