@charset "utf-8";

.ma_1pg_img1_wrapper{
    width: 80vw;
    text-align: center;
    margin: 0 auto;
    position: relative;
    /* height: 44vw; */
    overflow: hidden;
    margin-top: 85px;

    aspect-ratio: 164/101;
    background: transparent no-repeat fixed;
    background-position: center;
    background-size: 80%;

    opacity: 0;
    transition: 0.8s;
}
.ma_1pg_img1_wrapper.on{
    opacity: 1;
}
.ma_1pg_img1{
    width: 100%;
    border: 1px solid #000;
}




.ma_1pg_imgs{
    width: 100%;
    margin: 0 auto;
    position: absolute;
}
.ma_1pg_imgs img{
    width: 100%;
}
.ma_1pg_base{
    width: 100%;
    z-index: 10;
    aspect-ratio: 164/101;
    background: url(../../public/images/main/kv_b_pc.jpg) no-repeat;
    background-position: center;
    background-size: 100%;
}
.ma_1pg_bg{
    width: 100%;
}

.movebox_wrap{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    background: none;
}
.moveBox{
    width: 15vw;
    height: 33.33%;
    border: 2px solid #fff;
    position: relative;
    z-index: 11;
    left: 0%;

    transition: 1s linear;
}
.mv1{
    background: url(../../public/images/main/kv_b_pc.jpg) no-repeat;
    background-size: 80vw;
    top: 0%;
    background-position: 0% 0%;
    animation: mv1Ani 2s linear 1 forwards;
}
.mv2{
    background: url(../../public/images/main/kv_c_pc.jpg) no-repeat;
    background-size: 80vw;
    top: 0%;
    background-position: 0% 50%;
    animation: mv2Ani 2s linear 1.5s 1 forwards;
}
.mv3{
    background: url(../../public/images/main/kv_a_pc.jpg) no-repeat;
    background-size: 80vw;
    top: 0%;
    background-position: 0% 100%;
    animation: mv3Ani 2s linear 3s 1 forwards;
}


@keyframes mv1Ani {
    from{
        background-position: 0% 0%;
    }
    to{
        left: 100%;
        background-position: 120% 0;
    }
}
@keyframes mv2Ani {
    from{
        background-position: 0% 50%;
    }
    to{
        left: 100%;
        background-position: 120% 50%;
    }
}
@keyframes mv3Ani {
    from{
        background-position: 0% 100%;
    }
    to{
        left: 100%;
        background-position: 120% 100%;
    }
}
.mvbg{
    width: 10vw;
    height: 10vw;
    position: relative;
    z-index: 11;
    top: 0%;
    left: 0%;
    background: url(../../public/images/main/kv_b_pc.jpg) no-repeat;
    background-attachment: fixed;
    background-size: 80vw;
    transform-origin: center center;
    

}

@keyframes rotateBx {
    0%{
        transform-origin: center center;
        transform: rotate(0deg) translate(-20%, -20%) rotate(0);
    }
    100%{
        transform-origin: center center;
        transform: rotate(360deg) translate(-20%, -20%) rotate(-360deg) ;
    }
}








.pg1 {
    height: 1300px;
}

.wrap {
    position: absolute;
    top: calc(50% - 808px / 2);
    left: calc(50% - 1312px / 2);
    /* transform: translate(-50%, -50%); */
    width: 1312px;
    height: 808px;
    outline: 1px solid #ccc;
    overflow: hidden;
    /*바깥으로 나가는 #mask박스 숨기기*/
}

/*가장 아래 깔리는 박스*/
#bg {
    position: absolute;
    width: 1312px;
    aspect-ratio: 1312/808;
    background: url(../../public/images/main/kv_base_pc.jpg) no-repeat fixed center/1312px;
    z-index: 9;
}

/*마스크 효과 box*/
#mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    border-radius: 50%;

    /*트랜지션:속시이지*/
    transition: top 0.4s ease-out, left 0.4s ease-out;
}
.com {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    z-index: 9;

    /*트랜지션:속시이지*/
    transition: top 0.4s ease-out, left 0.4s ease-out;
}
.com::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid white;
    border-radius: 2px;
    z-index: 999;
}
.ag{
    background: url(../../public/images/main/kv_a_pc.jpg) no-repeat fixed center/1312px;
}
.bg{
    background: url(../../public/images/main/kv_b_pc.jpg) no-repeat fixed center/1312px;
}
.cg{
    background: url(../../public/images/main/kv_c_pc.jpg) no-repeat fixed center/1312px;
}

/*이벤트가 적용되는 box*/
#cover {
    position: absolute;
    width: 1312px;
    height: 808px;
    background: none;
    z-index: 9;
}






.ma_pg1_copy{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    padding: 100px 0;
}
.numb{
    margin-right: 10%;
    font-size: 11px;
}
.ma_pg1_copy_part{
    width: 80%;
}
.ma_pg1_title{
    font-size: 3vw;
    margin-bottom: 50px;
}
.ma_pg1_font{
    font-size: 1.2vw;
    line-height: 20px;
}


/* .wrap {
    position: absolute;
    top: calc(50% - 590px/2);
    left: calc(50% - 500px/2);
    width: 590px;
    height: 500px;
    outline: 1px solid #ccc;
    overflow: hidden;
} */

/*가장 아래 깔리는 박스*/
/* #bg {
    position: absolute;
    width: 590px;
    height: 500px;
    background: url(../../public/images/main/kv_base_pc.jpg) no-repeat fixed;
    z-index: 9;
} */

/*마스크 효과 box*/
/* #mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;

    background: url(../../public/images/main/kv_b_pc.jpg) no-repeat fixed;
    z-index: 99;
} */

/*이벤트가 적용되는 box*/
/* #cover {
    position: absolute;
    width: 590px;
    height: 500px;
} */






/* 메인 2페이지 */
.ma2_2pg_about{
    height: 3200px;
}
.ma_2pg_img{
    
    top: 0%;
    overflow: hidden;
    position: sticky;
    transition: .4s;
    background: none;
}
.ma_2pg_img.on{
    position: fixed;
    top: 10%;
    z-index: 9;
    width: 100%;
}
.about{
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    aspect-ratio: 21/10;

    /* background: url(../../public/images/main/aboutA_pc@1.5x.jpg) no-repeat; */
}
.about img{
    width: 100%;
    border: none;
    position: absolute;
}
.about_cover{
    width: 33.33%;
    aspect-ratio: 10/13.33;

    position: absolute;
    transform: translateX(0%);
    z-index: 9;
    
    /* outline: 3px dashed #000; */


}
.cv1{
    left: 0%;
    background:url(../../public/images/main/aboutC_pc@1.5x.jpg) no-repeat;
}
.cv2{
    left:33.33%;
    background:url(../../public/images/main/aboutA_pc@1.5x.jpg) no-repeat;
}
.cv3{
    left:66.66%;
    background:url(../../public/images/main/aboutB_pc@1.5x.jpg) no-repeat;
}
.cv4{
    left:99.99%;
    background:url(../../public/images/main/aboutC_pc@1.5x.jpg) no-repeat;
}
.cv5{
    left:133.32%;
    background:url(../../public/images/main/aboutA_pc@1.5x.jpg) no-repeat;
}
.cv6{
    left:166.65%;
    background:url(../../public/images/main/aboutB_pc@1.5x.jpg) no-repeat;
}
.about_cover img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
}


/* 글씨부분 */
.ma_2pg_copy{
    display: flex;
    padding: 1vw;
    margin-bottom: 100px;
    overflow: hidden;
}
.ma_2pg_title{
    margin-left: 3vw;
    font-size: 17vw;
    letter-spacing: -10px;
    transition: .8s;
    transform: translateY(100%);
}
.ma_2pg_cont{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}
.ma_2pg_cont h2{
    font-size: 1vw;
    font-weight: normal;
    margin-bottom: 20px;
}
.ma_2pg_cont h3{
    font-size: 0.8vw;
    font-weight: normal;
}
.pg2_line{
    width: 0%;
    background: #000;
    height: 1px;
    margin-bottom: 20px;
    transition: .8s;
}





/* 3페이지 */
.ma_3pg{
    margin-top: 30%;
}
.ma_3pg_copy{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 100px;
}
.ma_3pg_line{
    height: 1px;
    width: 0%;
    background-color: #000;
    margin: 0 auto;
    transition: .8s;
}
.features_heading{
    font-size: 10vw;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: 1s linear;
    animation: headAni linear 10s infinite;
    letter-spacing: -5px;
    background: none;
}
.features_heading span,
.features_heading h2{
    background: none;
}
@keyframes headAni {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(-100%);
    }
}
.ma_3pg_cont{
    display: flex;
    padding: 0 10vw;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;    
}
.ma_3pg_font1{
    width: 30vw;
}
.ma_3pg_font2{
    width: 30vw;
}


.ma_3pg_img_part{
    width: 100%;
    padding: 0 10vw;
    height: 3000px;
    background: url(../../public/images/main/reel.mp4) no-repeat center/cover;
    background-size: 100vw 100vh;
}
.ma_3pg_img{
    /* outline: 1px dashed red; */
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 10%;
    aspect-ratio: 1441/800;
    display: flex;
    overflow: hidden;
    z-index: 1;
    

    /* transition: .4s; */
}
.ma_3pg_imgwrap{
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    position: absolute;
    /* outline: 1px dashed  red; */
    overflow: hidden;
}
.ma_3pg_imgwrap img{
    position: absolute;
    background: none;
    width: 100%;
}
.wi3_1 img{
    opacity: 0.8;
    z-index: 1;

    margin: 0 auto;
    /* outline: 1px dashed blue; */
    left: 50%;
    transform: translateX(-50%);
}

.wi3_2{
    left: -50%;
}
.wi3_2 img{
    /* display: none; */
    transform: translateX(50%);
    transition: .4s;
}

.wi3_3{
    right: -50%;
}
.wi3_3 img{
    /* display: none; */
    transform: translateX(-50%);
    transition: .4s;
}

.vidBx{    
    position: fixed;
    top: 0px;
    left: -130%;
    width: 100vw;
    /* background: #000; */
    /* object-fit: cover; */
    height: 100%;
    z-index: 0;
    transition: .4s;

}
.vidBx.on{
    left: 0%;
}
.vidbg{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #222;
    transition: .2s ease-in-out;
    z-index: 0;
}
.vidbg.on{
    background: #000;
    left:0%;
}
.vidbg.on2{
    left:100%;
}
video{
    /* display: none; */
    height: 100%;
    width: 100%;
    transform: scale(1.2);
}

.font3pg{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 60%;
    /* outline: 1px dashed red; */
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.font3pg span{
    margin: 0 auto;
    background: none;
    color: #fff;
    font-size: 50px;

    transition: .4s;
    transform: translateY(100%);
}
.detail_3pg{
    position: relative;
    padding: 0 10vw;
    margin-top: 100px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tit3pg{
    width: 80%;
}
.line_3pg{
    width: 0%;
    background: #000;
    height: 1px;
    margin: 20px 0;
    transition: .8s;
}


/* 4페이지 */
.ma_4pg{
    padding: 0 10vw;
    width: 100%;
    
}
.wear_wrap{
    width: 100%;
    height: 4500px;
}
.wearbx{
    position: sticky;
    top: 10%;
    /* height: 80vh; */
    aspect-ratio: 1033/550;
    overflow: hidden;

    /* outline: 1px dashed red; */
}
.wear_imgbx{
    position: absolute;
    width: 100%;
    top:0%;
    height: 100%;
    overflow: hidden;
    clip-path: inset(0px 0px 0%);
    background: url(../../public/images/main/fitting_0.jpg);

}
.wear_imgbx:first-child{
    /* z-index: 1; */
}
.wear_imgbx img{
    width: 100%;
    transform: scale(1.01);
}

.ibFont{
    /* outline: 1px dashed #fff; */
    width: 30%;
    height: 5%;
    border-top: 1px solid #fff;

    position: absolute;
    z-index: 1;
    background: none;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    font-size: 3vw;
    color: #fff;
    text-align: center;
}

/* 5페이지 */
.ma_5pg{
    width: 100%;
}
.divi_wrap{
    width: 80%;
    margin: 0 auto;
}
.divibx {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    gap: 30px;
}
.chrbx {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    aspect-ratio: 194/129;
}
.chrbx:nth-child(2):nth-child(1):after{
    content: '';
    color: #000;
    
}
.chrbx::after{
    content: '////////////';
    color: #f2f3f5;
    position: absolute;
    bottom: 10%;
    right: 10%;
    font-size: 1.5vw;
    z-index: 0;
}
.chrImg{
    width: 100%;
    transform: translateY(-100%);
    transition: .4s;
}
.ci1.on,
.ci2.on,
.ci3.on{
    transform: translateY(0%);
}
.chrbx h3{
    position: absolute;
    background: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #f2f3f5;
    font-size: 1.8vw;
}
.chrBg{
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transition: .4s;
}
.cbg1.on,
.cbg2.on,
.cbg3.on{
    left: 100%;
}


.cfont1.on,
.cfont2.on,
.cfont3.on{
    animation: cfontAni 1s ease-in-out 1 forwards;
}
@keyframes cfontAni {
    0%{
        opacity: .2;
    }
    33%{
        opacity: .8;
    }
    66%{
        opacity: .3;
    }
    100%{
        opacity: 1;
    }
}



/* 미디어쿼리 */
@media only screen and (max-width:700px) {
    .ma_pg1_title {
        font-size: 4vw;
    }
    .ma_pg1_font {
        font-size: 2.2vw;
    }

    .ma_2pg_img{
        top: 25%;
    }

    .detail_3pg h3{
        width: 80%;
    }
    .ma_3pg_img{
        top: 30%;
        aspect-ratio: 3/4;
    }
    

    .wearbx{
        height: 670px;
        aspect-ratio: 0;
    }
    .wear_imgbx img {
        transform: translateY(45%) scale(2);
    }
    .wear_wrap{
        height: 4200px;
    }
    .chrbx{
        aspect-ratio: 194/300;
    }
    .chrImg.on{
        transform: translateY(100%) scale(3);
    }
}

@media only screen and (max-width:500px) {
    .ma_1pg_img1_wrapper{
        width: 100vw;
        margin: 0;
        margin-top: 85px;
    }
    .ma_pg1_title{
        font-size: 5vw;
    }
    .ma_pg1_font{
        font-size: 3.2vw;
    }

    .ma_2pg_img {
        top: 5%;
    }
    .ma2_2pg_about {
        height: 2400px;
    }
    .about{
        aspect-ratio: 40/43;
    }
    .about_cover{
        background: none;
        width: 100%;
        aspect-ratio: 40/43;
    }
    .cv2{
        left: 0%;
    }
    .cv3{
        left: 0%;
    }

    .ma_3pg_img_part{
        padding: 0;

    }
    .wrapper_3pg{
        width: 100%;
        overflow: hidden;
        transform: scale(2);
    }
    .ma_3pg_img {
        top: 20%;
    }
    
    .vidBx.on video{
        width: auto;
    }
    .detail_3pg{
        height: 600px;
    }

    .wearbx {
        height: 84vh;
    }
    .wear_imgbx img {
        transform: translateY(100%) scale(3);
    }
    .wear_imgbx{
        height: 86%;
    }




}





