@charset "utf-8";

.models{
    height: 3400px;
    position: relative;
    top: 80px;
}
.model_word{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    background: none;
    overflow: hidden;
}
.model_word span{
    display: inline-block;
    font-size: 18vw;
    font-weight: 200;
    font-style: italic;
    background: none;
    transform: translateY(100%);
    transition: .4s;
}
.model_sort{
    position: fixed;
    top: 80px;
    left: 0;
    width: 200px;
    height: 50px;
    z-index: 1;
}
.model_sort a{
    display: flex;
    justify-content: space-between;
}
.modelSort{
    display: flex;
    flex-direction: column;
}
.modelSort a{
    color: #000;
    text-decoration: none;
}
.model_list{
    background: none;
    width: 100%;
    height: 60%;
    display: flex;
    position: relative;
    overflow: hidden;
}
.model_item{
    width: 25%;
    height: 500px;

    position: fixed;
    top: 20%;
    
    margin: 0 4vw;
    background: none;
    transform: translateX(400%);
}
.model_item img{
    position: absolute;
    width: 100%;
}